:root {
	--Dark-Blue: hsl(233, 26%, 24%);
	--Lime-Green: hsl(136, 65%, 51%);
	--Bright-Cyan: hsl(192, 70%, 51%);
	--footer: hsl(233, 26%, 24%);

	--Grayish-Blue: hsl(233, 8%, 62%);
	--Light-Grayish-Blue: hsl(220, 16%, 96%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
	--Very-Light-Gray2: hsla(0, 0%, 98%, 0.397);
	--White: hsl(0, 0%, 100%);
	--shadow: rgba(45, 49, 77, 0.13);
}
.dark {
	--Light-Grayish-Blue: #2d314d;
	--Very-Light-Gray: #2d314dfa;
	--Very-Light-Gray2: hsla(233, 26%, 24%, 0.897);
	--White: #2d314da9;
	--Dark-Blue: #fff;
	--footer: hsl(233, 26%, 24%);
	--shadow: rgba(0, 0, 0, 0.178);
}
