@use "sass:math";
@use "./colors";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&family=Public+Sans:wght@300;400;700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Public Sans", sans-serif;
	transition: background 0.04s ease-out;
	-webkit-tap-highlight-color: transparent;
}
g {
	scale: 1.4;
}
svg {
	width: 50px;
	height: 50px;
}
html {
	scroll-behavior: smooth;
}

body {
	font-size: rem(18);
	background-color: var(--Very-Light-Gray);
	min-height: 100vh;
	position: relative;
}

@function rem($size) {
	@if math.is-unitless($size) {
		@return math.div($size, 16) + rem;
	}
}

::-webkit-scrollbar {
	width: rem(10);
}
::-webkit-scrollbar-track {
	background-color: var(--Light-Grayish-Blue);
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(to top, var(--Lime-Green), var(--Bright-Cyan));
	&:hover {
		background: linear-gradient(
			to bottom,
			var(--Lime-Green),
			var(--Bright-Cyan)
		);
		transition: background 0.4s ease;
	}
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border-radius: 20px;
}

$breakpoints-up: (
	small: rem(600),
	medium: rem(800),
	large: rem(1024),
	larger: rem(1100),
	large-max: rem(1440),
);

@mixin breakpoints-min($size) {
	@media (min-width: map-get($breakpoints-up,$size)) {
		@content;
	}
}

header {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	background-color: var(--Light-Grayish-Blue);

	.container {
		height: rem(70);
		width: min(100% - rem(60), rem(1550));
		margin-inline: auto;
		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: rem(36);
			height: 100%;
			.group {
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					cursor: pointer;
				}
			}
			.logo {
				width: rem(150);
				display: flex;
				align-content: center;
				justify-content: flex-start;
			}
			.menu {
				margin-right: rem(30);
				cursor: pointer;
				width: rem(40);
				height: rem(20);
			}
			.nav-links {
				display: none;
			}
			.theme-toggle {
				width: rem(30);
				flex: 0;
			}
			.cta {
				display: none;
			}
		}
	}
	@include breakpoints-min(large) {
		.container {
			width: min(100% - rem(190), rem(1650));

			nav {
				a {
					text-decoration: none;
					.cta {
						display: flex;
						flex-shrink: 0;
						background: linear-gradient(
							to left,
							var(--Lime-Green),
							var(--Bright-Cyan)
						);
						border: none;
						padding: rem(13) rem(23);
						font-size: rem(15);
						border-radius: rem(20);
						font-weight: 400;
						color: white;
						cursor: pointer;
						&:hover {
							opacity: 0.7;
							transition: 0.3s ease;
						}
					}
				}
			}
		}
	}
	@include breakpoints-min(large) {
		.container {
			nav {
				.menu {
					display: none;
				}

				.nav-links {
					display: flex;
					flex: 1.7;
					align-items: center;
					justify-content: center;
					gap: rem(32);
					li {
						list-style: none;
						a {
							text-decoration: none;
							font-weight: 400;
							color: var(--Grayish-Blue);
							font-size: clamp(rem(18), rem(18) + 2vw, rem(18));
							position: relative;
							transition: all 0.4s ease-in;
							&::before {
								content: "";
								position: absolute;
								bottom: rem(-29);
								left: 0;
								width: 100%;
								height: rem(3);
								border-radius: rem(10);
							}
							&:hover {
								color: var(--Dark-Blue);

								&::before {
									background: linear-gradient(
										to right,

										hsl(192, 70%, 51%),
										hsl(136, 65%, 51%)
									);
								}
							}
						}
					}
				}
			}
		}
	}
}

main {
	.container {
		width: min(100% - rem(60), rem(1440));
		margin-inline: auto;
		.right-content {
			background-image: url("/images/bg-intro-mobile.svg");
			background-position: center center;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;

			img {
				transform: translateY(-60px);
				width: 100%;
				height: auto;
			}
		}
		.left-content {
			text-align: center;
			max-width: rem(550);
			margin-inline: auto;
			h1 {
				color: var(--Dark-Blue);
				font-size: clamp(rem(18), rem(30) + 2vw, rem(50));
				margin-bottom: rem(20);
				font-weight: 700;
				max-width: rem(550);
				margin-inline: auto;
			}
			p {
				color: var(--Grayish-Blue);
				line-height: 1.3;
				font-size: clamp(rem(16), rem(8) + 2vw, rem(20));
				margin-bottom: rem(24);
				font-weight: 300;
			}
			.cta {
				background: linear-gradient(
					to left,
					var(--Lime-Green),
					var(--Bright-Cyan)
				);
				border: none;
				padding: rem(13) rem(29);
				font-size: rem(15);
				border-radius: rem(25);
				font-weight: 400;
				color: white;
				cursor: pointer;
				&:hover {
					background: linear-gradient(
						to bottom,
						var(--Lime-Green),
						var(--Bright-Cyan)
					);
					transition: background 0.4s ease;
				}
			}
		}
	}

	@include breakpoints-min(larger) {
		.container {
			width: min(100%, rem(1900));
			margin-inline: auto;
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
			justify-content: space-between;

			.left-content {
				order: 1;
				text-align: left;
				max-width: rem(530);
				margin-left: rem(100);
				h1 {
					font-size: rem(55);
					font-weight: 400;
				}
				h1,
				p {
					margin-inline: unset;
				}
				p {
					font-size: rem(21);
					line-height: 1.3;
				}
				.cta {
					font-size: rem(19);
					padding-inline: rem(28);
				}
			}
			.right-content {
				order: 2;
				position: relative;
				background-image: none;
				overflow: hidden;
				&:before {
					content: "";
					position: absolute;
					right: 140px;
					top: -120px;
					width: 100%;
					height: 100%;
					background-image: url("/images/bg-intro-desktop.svg");
					background-repeat: no-repeat;
					background-size: cover;
					background-position: left center;
					scale: 1.1;
					transform: translate(rem(100), rem(-30));
				}
				img {
					width: 100%;
					transform: translate(rem(140), rem(-50));
				}
			}
		}
	}
	@include breakpoints-min(large-max) {
		.container {
			margin-left: auto;
			width: min(100%, rem(1900));

			.left-content {
				// margin-left: rem(170);
				h1 {
					font-size: rem(65);
				}
			}
		}
	}
}

// ==============================
//	ABOUT-SECTION
//===============================

.about {
	margin-top: rem(70);
	padding-block: rem(70);
	background-color: var(--Light-Grayish-Blue);
	.container {
		width: min(100% - rem(60), rem(1440));
		margin-inline: auto;
		display: inherit;
		section {
			.title {
				text-align: center;
				max-width: rem(580);
				margin-inline: auto;
				h2 {
					color: var(--Dark-Blue);
					font-size: clamp(rem(18), rem(30) + 2vw, rem(50));
					margin-bottom: rem(20);
					font-weight: 700;
				}
			}
			img {
				margin-bottom: rem(27);
			}
			h3 {
				font-size: clamp(rem(18), rem(10) + 2vw, rem(28));
				font-weight: 400;
				text-align: center;
				margin-bottom: rem(20);
				color: var(--Dark-Blue);
			}
			p {
				text-align: center;
				color: var(--Grayish-Blue);
				line-height: 1.3;
			}
			.cards {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				gap: rem(20);
				.card {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: rem(70);
					max-width: rem(350);
					margin-inline: auto;
					@include breakpoints-min(larger) {
						align-items: flex-start;
						p {
							text-align: left;
							font-size: rem(18);
						}
					}
				}
			}
		}
	}
	@include breakpoints-min(larger) {
		.container {
			width: min(100% - rem(190), rem(1650));

			margin-inline: auto;
			section {
				.title {
					text-align: left;
					margin-inline: unset;
					p {
						text-align: left;
						font-size: rem(18);
					}
				}
			}
		}
	}
}

@include breakpoints-min(larger) {
	.about {
		margin-top: rem(-220);
		padding: rem(160) 0 rem(100) 0;
	}
}

// ==============================
//	BLOGS-SECTION
//===============================

.blogs-section {
	padding-block: rem(50);
	.container {
		width: min(100% - rem(60), rem(1440));
		margin-inline: auto;
		display: inherit;
		section {
			h4 {
				color: var(--Dark-Blue);
				font-size: clamp(rem(18), rem(30) + 2vw, rem(50));
				margin-bottom: rem(50);
				font-weight: 700;
				text-align: center;
			}
			.blogs {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				gap: rem(30);
				width: 100%;
				justify-content: space-between;
				.blog {
					width: 100%;
					max-width: rem(350);
					margin-inline: auto;
					background-color: var(--White);
					box-shadow: 1rem 1rem 1rem -1rem var(--shadow);
					border-radius: rem(10);
					overflow: hidden;
					&:hover {
						.content {
							h5 {
								color: var(--Lime-Green);
								transition: 0.4s ease-in;
								cursor: pointer;
							}
						}
					}
					.img {
						height: rem(190);
						img {
							height: 100%;
							object-fit: cover;
						}
					}
					.content {
						padding: rem(30) rem(30) rem(25) rem(30);
						span {
							color: var(--Grayish-Blue);
							font-size: rem(14);
							font-weight: 300;
						}
						h5 {
							color: var(--Dark-Blue);
							margin-block: rem(15);
							font-size: rem(20);
							font-weight: 400;
							&:hover {
								color: var(--Lime-Green);
								transition: 0.3s ease;
								cursor: pointer;
							}
						}
						p {
							color: var(--Dark-Blue);
							line-height: 1.4;
							font-weight: 300;
							font-size: rem(14);
						}
					}

					img {
						width: 100%;
					}
				}
			}
		}
	}
	@include breakpoints-min(larger) {
		.container {
			width: min(100% - rem(190), rem(1650));
			section {
				h4 {
					text-align: left;
				}
				.blogs {
					.blog {
						margin-inline: unset;
					}
				}
			}
		}
	}
}

// ==============================
//	FOOTER-SECTION
//===============================

footer {
	background-color: var(--footer);
	padding-block: rem(15);
	margin-top: rem(40);
	.container {
		width: min(100% - rem(60), rem(1440));
		padding-block: rem(40);
		display: inherit;
		align-items: center;
		justify-content: space-between;
		// flex-wrap: wrap;
		.left {
			display: grid;
			grid-template-columns: 1fr;
			gap: rem(10);

			.socials {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				gap: rem(25);
				.social {
					display: flex;
					align-items: center;
					gap: rem(10);
					svg:hover {
						path {
							fill: var(--Lime-Green);
							transition: 0.3s ease;
							cursor: pointer;
						}
					}
				}
			}
			.links {
				display: flex;
				align-items: center;
				gap: rem(20);
				flex-direction: column;
				ul {
					display: flex;
					align-items: flex-start;
					justify-content: space-around;
					align-items: center;
					li {
						list-style: none;
						margin-block: rem(10);
						a {
							color: #fff;
							text-decoration: none;
							&:hover {
								color: var(--Lime-Green);
								transition: 0.3s ease-in;
							}
						}
					}
				}

				.first,
				.second {
					flex-direction: column;
				}
				.me {
					width: rem(60);
					height: rem(60);
					border-radius: 100%;
					&:hover {
						opacity: 0.7;
						transition: opacity 0.3s ease;
					}
				}
			}
		}

		@include breakpoints-min(large) {
			.left {
				grid-template-columns: 1fr 1fr;
			}
		}
		.right {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: rem(20);
			justify-content: space-between;
			gap: rem(25);
			.cta {
				background: linear-gradient(
					to left,
					var(--Lime-Green),
					var(--Bright-Cyan)
				);
				border: none;
				padding: rem(13) rem(29);
				font-size: rem(15);
				border-radius: rem(25);
				font-weight: 400;
				color: white;
				cursor: pointer;
				&:hover {
					opacity: 0.7;
					transition: 0.3s ease;
				}
			}
			p {
				color: var(--Grayish-Blue);
				a {
					color: #fff;
					font-weight: 700;
				}
			}
		}
	}
	@include breakpoints-min(small) {
		.container {
			display: flex;

			.left {
				.socials {
					align-items: flex-start;
				}
				.links {
					flex-direction: row;
					gap: rem(40);
					ul {
						align-items: unset;
					}
				}
			}
			.right {
				align-items: flex-end;
				margin-top: 0;
			}
		}
	}
	@media (max-width: 800px) {
		.container {
			display: grid;
			place-content: center;
			.left {
				.links {
					.me {
						order: 2;
					}
				}
			}
			.right {
				margin-inline: auto;
				align-items: center;
				margin-top: rem(20);
			}
		}
	}
	@include breakpoints-min(larger) {
		.container {
			width: min(100% - rem(190), rem(1650));
		}
	}
}

.light-box {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.281),
		var(--Very-Light-Gray2)
	);
	.nav-links {
		height: 100vh;
	}
	.nav-links ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rem(20);
		height: rem(350);
		background-color: var(--Very-Light-Gray);
		width: min(100% - rem(20), rem(450));
		margin-inline: auto;
		margin-top: rem(30);
		border-radius: rem(20);
		box-shadow: 0rem -1rem 1rem -1rem var(--Light-Grayish-Blue);
		li {
			list-style: none;
			a {
				text-decoration: none;
				font-size: rem(25);
				color: var(--Dark-Blue);
				&:hover {
					color: var(--Lime-Green);
					transition: 0.3s ease;
				}
			}
		}
	}
}
